.item-wrapper {
    margin-top: 10px;
}


.number-indicator {
    color: #a3a3a3;
    text-decoration: dotted;
    margin-right: 16px;


}

.row {
    display: flex;
    flex-direction: row;
    align-items: baseline;

}

.reference-text {
}

.number-indicator:hover{
	text-decoration: underline;
}