.title {
    font-size: var(--article-title);
    letter-spacing: -3px;
    text-align: center;
    padding-top: 35vh;

}

.subtitle {
    max-width: 575px;
    font-weight: 100;
}


.image {
    margin-top: 70px;
}

/* ADD VISITED TO A */

.title-wapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}