.title {
    font-size: var(--article-title);
    letter-spacing: -3px;
    text-align: center;
    margin-top: 25vh;
    line-height: var(--lh-title);
}

.subtitle {
    max-width: 575px;
    font-weight: 100;
    font-size: var(--article-paragraph);
    font-family: "AdobeGaramondItalic", sans-serif;
}


.image {
    margin-top: 70px;
}

/* ADD VISITED TO A */

.title-wapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}