.image-description {
    opacity: 0.5;
    margin-top: 8px;
    max-width: 450px;
    font-family: "AGNext";
    margin-bottom: 80px;
}

.image {
    width: 450px;
    overflow: hidden;
}

.crop {
    overflow: hidden;
    overflow-y: hidden;
}