.introduction {
  font-size: 40px;
  display: flex;
  flex-direction: column;
  line-height: 130%;
  letter-spacing: -0.5px;
  text-align: center;
  width: 450px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}

.socialWrapper {
  position: fixed;
  bottom: 30px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.article-content-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
