.introduction {
  margin-left: 30vw;
  width: 320px;
  position: absolute;
}

.container {
  display: flex;
  flex-direction: column;
  user-select: none;
}

.article-content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.period {
  margin-bottom: 10px;
  font-family: "AdobeGaramondItalic";
}

.articleWrapper {
  margin-left: 30vw;
  margin-top: 60vh;
}

.writing {
  position: absolute;
  left: 30px;
  top: 40vh;
}