.introduction {
  margin-left: 30vw;
  width: 420px;
  position: absolute;
}

.socialWrapper {
  position: fixed;
  display: flex;
  flex-direction: column;
  bottom: 30px;
  right: 30px;
  font-size: var(--small);
}

.container {
  display: flex;
  flex-direction: column;

  user-select: none;
}

.article-content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.period {
  margin-bottom: 40px;
  font-size: var(--small);
}

.articleWrapper {
  margin-left: 30vw;
  margin-top: 40vh;
}

.writing {
  position: absolute;
  left: 30px;
  top: 40vh;
}