.wrapper {
  display: flex;
  flex-direction: row;
  justify-items: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  margin-bottom: 24px;
}

.reading-time {
  margin-top: -15px;  
  margin-left: 6px;
  font-size: var(--small);
}


.article-wrapper {
}

.article-wrapper:hover {
  cursor: pointer;
}

.articleTitle {
}
