.wrapper {
  display: flex;
  flex-direction: row;
  justify-items: flex-start;
  align-items: flex-start;
  align-content: flex-start;
}

.reading-time {
  font-size: 16px;
  margin-top: -15px;  
  margin-left: 6px;
}


.article-wrapper {
  margin-bottom: 32px;
}

.article-wrapper:hover {
  cursor: pointer;
}

.articleTitle {
  font-size: 40px;
}

.wrapper:hover {
  opacity: 0.5;
}