.article-body {
    text-indent: 1em;
    max-width: 575px;
    margin-top: 70px;
    font-size: var(--fs-500);
    line-height: 1.5em;
    font-family: "AGNext";
}

.article-section-title {
    margin-top: 70px;
    font-size: var(--fs-600);
}



.article-body~.article-body {
    margin-top: 30px;
}


.article-section-title~.article-body {
    margin-top: 30px;
}