.article-body {
    text-indent: 2em;
    max-width: 575px;
    margin-top: 40px;
}

.article-section-title {
    margin-top: 70px;
}

.article-body~.article-body {
    margin-top: 2px;
}

.article-section-title~.article-body {
    margin-top: 30px;
}

.article-body {
    line-height: var(--lh-400);
    font-size: var(--article-paragraph)
}