.componentWrapper {
    display: flex;
    align-items: center;
    justify-content: center;

}

.articleWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20%;
    z-index: 2;
    user-select: none;
}


.spacer {
    height: 200px;
}

.period {
    margin-bottom: 40px;
    font-size: 17px;
}

.bubble-writting {

    margin: auto;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    width: 600px;
    z-index: -1;
    height: 600px;


}